name: Countdown
on:
  workflow_dispatch:
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1
        env:
          WH: ${{ secrets.WEBHOOK_URL }}
        run: echo "Test 1"
      - name: Step 2
        run: echo "Test 2"
