name: Test Workflow
on: workflow_dispatch
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test echo
        run: echo "Hello World"
      - name: Test date
        run: date
      - name: Test python
        run: python3 --version
